{% extends "layouts/main_layout.html" %}
{% load static %}
{% block title %}
    Baş sahypa
{% endblock title %}
{% block body %}
    <div class="h-75 d-flex align-items-center justify-content-center">
        <div class="block p-3 w-75">
            <div class="m-2 d-flex justify-content-between">
                <div class="h3">Bugünki rejede:</div>
                <div>
                    <button class="btn button"
                            type="button"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasWithBothOptions"
                            aria-controls="offcanvasWithBothOptions">
                        <i class="bi bi-clock-history"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="m-2">Taslamalaryň sany</div>
                    <div class="m-2">
                        <div class="fw-bold fs-bg">{{ projects_count }}</div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="m-2">Gatnaşýan emin agzalaryň sany</div>
                    <div class="m-2">
                        <div class="fw-bold fs-bg">{{ juries_count }}</div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn button mx-2 {% if not is_participate %}disabled{% endif %}"
                        onclick="location.href='{% url "mark_form" %}'">
                    {% if is_participate %}
                        <i class="bi bi-plus"></i>
                        Bahalandyrma başlamak
                    {% else %}
                        Siz bahalandyrma gatnaşmaýarsyňyz
                    {% endif %}
                </button>
            </div>
        </div>
    </div>
    <div class="offcanvas offcanvas-start"
         data-bs-scroll="true"
         tabindex="-1"
         id="offcanvasWithBothOptions"
         aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
                {{ request.user.last_name }} {{ request.user.first_name }}-yň beren bahalary
            </h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" id="history">
            {% for mark in marks %}
                {% if today.day == schedule_date.day and today.month == schedule_date.month and today.year == schedule_date.year and today.hour < 20 %}
                    <div class="my-3 my-card">
                        <div class="d-flex align-items-center mb-3">
                            <div style="margin-right: 1rem;">
                                <div class="d-flex justify-content-center align-items-center ico" style="">
                                    <i class="bi bi-star"></i>
                                </div>
                            </div>
                            <div class="w-100 d-flex justify-content-between">
                                <div>
                                    <div>
                                        <div class="fs-7">{{ mark.project.full_name_of_manager }}-yň taslamasy</div>
                                    </div>
                                    <div class="fs-7">Baha: {{ mark.mark }}</div>
                                </div>
                                <div class="d-flex align-items-center">
                                    {% if today.day == mark.date.day and today.month == mark.date.month and today.year == mark.date.year and today.hour < 20 %}
                                        <button class="btn button mx-2"
                                                onclick='location.href="/mark/edit/{{ mark.pk }}/"'>
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                <p class="text-center text-secondary">Siziň beren bahalaryňyz tapylmady</p>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script>
    function set_borders(node_list) {
        for (var i = 0; i < node_list.length; i++) {
            if (i != node_list.length - 1) {
                node_list[i].classList.add("border-bottom");
            }
        }
    }
    let history = document.querySelectorAll("#history .my-card");
    set_borders(history);
    </script>
{% endblock scripts %}
