{% extends "layouts/main_layout.html" %}
{% load static %}
{% block title %}
    Baş sahypa
{% endblock title %}
{% block body %}
    <div class="px-3">
        <div class="block p-3">
            <div class="row">
                <div class="col-sm">
                    <div class="m-2">Moderatorlaryň sany</div>
                    <div class="m-2">
                        <div class="fw-bold fs-bg">{{ moderators_count }}</div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="m-2">Emin agzalaryň sany</div>
                    <div class="m-2">
                        <div class="fw-bold fs-bg">{{ juries_count }}</div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="m-2">Tomaşaçylaryň sany</div>
                    <div class="m-2">
                        <div class="fw-bold fs-bg">{{ spectators_count }}</div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button class="btn button mx-2" onclick="location.href='{% url "users" %}'">
                    <i class="bi bi-list-task"></i>
                    Ähli ulanyjylary görmek
                </button>
                {% comment %} <button class="btn button mx-2"
                        onclick="location.href='{% url "add_user" %}'">
                    <i class="bi bi-plus"></i>
                    Ulanyjy goşmak
                </button> {% endcomment %}
            </div>
        </div>
        <div class="block p-3">
            <div class="row">
                <div class="col-sm">
                    <div class="m-2">Taslamalaryň sany</div>
                    <div class="m-2">
                        <div class="fw-bold fs-bg">{{ projects_count }}</div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="m-2">Baha berilen taslamalaryň sany</div>
                    <div class="m-2">
                        <div class="fw-bold fs-bg">{{ rated_projects_count }}</div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="m-2">Baha berilmedik taslamalaryň sany</div>
                    <div class="m-2">
                        <div class="fw-bold fs-bg">{{ unrated_projects_count }}</div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button class="btn button mx-2"
                        onclick="location.href='{% url "add_project" %}'">
                    <i class="bi bi-plus"></i>
                    Taslamany forma arkaly goşmak
                </button>
                {% comment %} <button class="btn button mx-2" onclick="location.href='{% url "add_project_using_excel" %}'">
                    <i class="bi bi-filetype-xlsx"></i>
                    Taslamany Excel arkaly goşmak
                </button> {% endcomment %}
            </div>
        </div>
        <div class="block p-3">
            <div class="m-2">Rejeler</div>
            <div class="m-3 fw-bolder" id="quenes">
                {% for schedule in schedules %}
                    <div class="my-3 my-card">
                        <div class="d-flex align-items-center">
                            <div style="margin-right: 1rem;">
                                <div class="d-flex justify-content-center align-items-center ico" style="">
                                    <i class="bi bi-list-task"></i>
                                </div>
                            </div>
                            <div class="w-100">
                                <div>
                                    <div>{{ schedule.date }}</div>
                                </div>
                                <div>{{ schedule.projects_count }}</div>
                                <div class="mb-2">{{ schedule.juries_count }}</div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="text-center text-secondary">Reje tagtasy boş</div>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button class="btn button mx-2"
                        onclick="location.href='{% url "schedules" %}'">
                    <i class="bi bi-list-task"></i></i> Ähli rejeleri görmek
                </button>
                <button class="btn button mx-2"
                        onclick="location.href='{% url "add_schedule" %}'">
                    <i class="bi bi-plus"></i> Reje goşmak
                </button>
            </div>
        </div>
    {% endblock body %}
    {% block scripts %}
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock scripts %}
