{% extends "layouts/main_layout.html" %}
{% load static %}
{% block title %}
    Baş sahypa
{% endblock title %}
{% block navbar %}
{% endblock navbar %}
{% block body %}
    <div class="px-3">
        <div class="block p-3">
            <div class="row m-2 my-5">
                <div class="col-sm">
                    <canvas id="onlineMonitoring"></canvas>
                </div>
                <div class="col-sm">
                    <canvas id="marks"></canvas>
                </div>
            </div>
            <div class="row m-2">
                <div class="d-flex justify-content-between">
                    <div class="m-3 my-1 h3">Taslamalar:</div>
                    <div>
                        <div class="btn-group" role="group">
                            <button onclick="location.href='{% url 'projects_list' %}'"
                                    class="btn button">
                                <i class="bi bi-list"></i>
                            </button>
                            <button onclick="location.href='{% url 'export_to_xlsx' %}'"
                                    class="btn button">
                                <i class="bi bi-filetype-xlsx"></i>
                            </button>
                            <button onclick="location.href='{% url 'export_to_docx' %}'"
                                    class="btn button">
                                <i class="bi bi-filetype-docx"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="projects-list-spectator">
                    <div class="m-3 fw-bolder" id="projects">
                        {% for project in rated_projects %}
                            <div class="my-card">
                                <div class="d-flex align-items-center my-3">
                                    <div style="margin-right: 1rem;">
                                        <div class="d-flex justify-content-center align-items-center ico" style="">
                                            <i class="bi bi-box"></i>
                                        </div>
                                    </div>
                                    <div class="w-100 d-flex justify-content-between">
                                        <div>
                                            <div>
                                                <div>{{ project.description|truncatechars:20 }}</div>
                                            </div>
                                            <div>{{ project.manager }}</div>
                                            <div class="mb-2">{{ project.agency }}</div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <button class="btn button mx-2"
                                                    onclick='location.href="/project_result/{{ project.pk }}/"'>
                                                <i class="bi bi-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-sm">
                    <canvas id="aboutProjects"></canvas>
                    <div class="my-3 w-100 d-flex justify-content-center">
                        <div>
                            <div class="fs-7 text-center">Baha berilen taslamalar: {{ rated_projects_count }}</div>
                            <div class="fs-7 text-center">Baha berilmedik taslamalar: {{ unrated_projects_count }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 text-light">h</div>
                <div class="col-sm d-flex align-items-center">
                    <canvas id="projectByDirection"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/chart.min.js' %}"></script>
    <script>
        Chart.defaults.font.family = 'Quicksand';

        let onlineChart = new Chart(document.getElementById('onlineMonitoring').getContext('2d'), {
            type: 'bar',
            data: {
                labels: [],
                datasets: [{
                    label: 'Bügünki bahalandyrylan taslamalar',
                    data: [],
                    backgroundColor: 'rgba(70, 192, 192, 0.6)',
                    borderColor: 'rgba(150, 100, 255, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        suggestedMin: 0,
                        suggestedMax: 100,
                    }
                }
            }
        });

        let marksChart = new Chart(document.getElementById('marks').getContext('2d'), {
            type: 'bar',
            data: {
                labels: [{% for project in rated_projects %}"{{ project.name|truncatechars:20 }}", {% endfor %}],
                datasets: [{
                    label: 'Taslamalaryň alan bahalary',
                    data: [{% for project in rated_projects %}parseFloat("{{ project.percent }}"), {% endfor %}],
                    backgroundColor: 'rgba(70, 192, 192, 0.6)',
                    borderColor: 'rgba(150, 100, 255, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        suggestedMin: 0,
                        suggestedMax: 100,
                    }
                }
            }
        });


        new Chart(document.getElementById('aboutProjects').getContext('2d'), {
            type: 'doughnut',
            data: {
                labels: ["Baha berilen taslamalar", "Baha berilmedik taslamalar"],
                datasets: [{
                    data: [{{ rated_projects_count }}, {{ unrated_projects_count }}],
                    backgroundColor: ["#22f26c", "#7ac0c0"]
                }]
            },
            
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Taslamalar barada şekilli hasabat',
                    }
                }
            },
        });
        new Chart(document.getElementById('projectByDirection').getContext('2d'), {
            type: 'line',
            data: {
                labels: [{% for direction in directions %}"{{ direction.name }}", {% endfor %}],
                datasets: [
                    {
                        label: 'Ugurlar',
                        data: [{% for direction in directions %}{{ direction.projects_count }},{% endfor %}],
                        borderColor: "#23c75c",
                        backgroundColor: "#70cc8f",
                    },
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Ugurlar boýunça taslamalar',
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem) {
                                return tooltipItem.yLabel;
                            }
                        }
                    }
                },
            }
        });
    </script>
    <script src="{% static 'js/update_chart.js' %}"></script>
{% endblock scripts %}
