{% extends "layouts/main_layout.html" %}
{% load static %}
{% block title %}
    Baş sahypa
{% endblock title %}
{% block body %}
    <div class="px-3">
        <div class="block p-3">
            <div class="row m-2 my-5">
                <div class="col-sm-2 text-light">
                    <div>h</div>
                </div>
                <div class="col-sm">
                    <canvas id="marks"></canvas>
                </div>
                <div class="col-sm-2 text-light">
                    <div>h</div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-sm">
                    <canvas id="aboutProjects"></canvas>
                    <div class="my-3 w-100 d-flex justify-content-center">
                        <div>
                            <div class="fs-7 text-center">Baha berilen taslamalar: {{ rated_projects_count }}</div>
                            <div class="fs-7 text-center">Baha berilmedik taslamalar: {{ unrated_projects_count }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 text-light">h</div>
                <div class="col-sm d-flex align-items-center">
                    <canvas id="projectByDirection"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/chart.min.js' %}"></script>
    <script>
        Chart.defaults.font.family = 'Quicksand';

        // Create the bar chart
        let marksChart = new Chart(document.getElementById('marks').getContext('2d'), {
            type: 'bar',
            data: {
                labels: [{% for project in rated_projects %}"{{ project.name }}", {% endfor %}],
                datasets: [{
                    label: 'Taslamalaryň alan bahalary',
                    data: [{% for project in rated_projects %}{{ project.percent }}, {% endfor %}],
                    backgroundColor: 'rgba(70, 192, 192, 0.6)',
                    borderColor: 'rgba(150, 100, 255, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        suggestedMin: 0,
                        suggestedMax: 100,
                    }
                }
            }
        });


        new Chart(document.getElementById('aboutProjects').getContext('2d'), {
            type: 'doughnut',
            data: {
                labels: ["Baha berilen taslamalar", "Baha berilmedik taslamalar"],
                datasets: [{
                    data: [{{ rated_projects_count }}, {{ unrated_projects_count }}],
                    backgroundColor: ["#22f26c", "#7ac0c0"]
                }]
            },
            
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Taslamalar barada şekilli hasabat',
                    }
                }
            },
        });
        new Chart(document.getElementById('projectByDirection').getContext('2d'), {
            type: 'line',
            data: {
                labels: [{% for direction in directions %}"{{ direction.name }}", {% endfor %}],
                datasets: [
                    {
                        label: 'Ugurlar',
                        data: [{% for direction in directions %}{{ direction.projects_count }},{% endfor %}],
                        borderColor: "#23c75c",
                        backgroundColor: "#70cc8f",
                    },
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Ugurlar boýunça taslamalar',
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem) {
                                return tooltipItem.yLabel;
                            }
                        }
                    }
                },
            }
        });
    </script>
{% endblock scripts %}
