{% extends "layouts/main_layout.html" %}
{% load static %}
{% block title %}
    Taslama goşmak
{% endblock title %}
{% block body %}
    <div class="px-3">
        <div class="block p-3">
            <div class="m-2">Taslama maglumatlary</div>
            <form method="post" class="m-2" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm">
                        <div class="f-08">Excel faýly:</div>
                        <div class="floating-label mb-3">
                            <input class="floating-label__input"
                                   type="file"
                                   id="xlsx"
                                   name="xlsx"
                                   accept=".xlsx, .xls"
                                   autocomplete="off"
                                   required
                                   placeholder=" " />
                            <div class="floating-label__outline">
                                <div class="floating-label__leading"></div>
                                <div class="floating-label__notch">
                                    <label class="floating-label__label" for="xlsx"></label>
                                </div>
                                <div class="floating-label__trailing"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <button class="btn button px-4">TASSYKLAMAK</button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
{% endblock scripts %}
