{% extends "layouts/empty_layout.html" %}
{% load static %}
{% block title %}
    Giriş
{% endblock title %}
{% block head %}
{% endblock head %}
{% block body %}
    <div class="block my-auto d-flex justify-content-center align-items-center l-box p-4">
        <div class="w-75">
            <form method="post">
                {% csrf_token %}
                <div>
                    <div class="floating-label my-3">
                        <input class="floating-label__input inp usrnm"
                               type="text"
                               name="username"
                               autocomplete="off"
                               required
                               placeholder=" " />
                        <div class="floating-label__outline">
                            <div class="floating-label__leading"></div>
                            <div class="floating-label__notch">
                                <label class="floating-label__label" for="number">Ulanyjy ady</label>
                            </div>
                            <div class="floating-label__trailing"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="floating-label my-3">
                        <input class="floating-label__input inp pswd"
                               type="password"
                               name="password"
                               autocomplete="off"
                               required
                               placeholder=" " />
                        <div class="floating-label__outline">
                            <div class="floating-label__leading"></div>
                            <div class="floating-label__notch">
                                <label class="floating-label__label" for="email">Açar şöz</label>
                            </div>
                            <div class="floating-label__trailing"></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center w-100">
                    <button class="btn button w-50" type="submit" id="accept-btn" disabled>GIRIŞ</button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock scripts %}
