{% extends "layouts/empty_layout.html" %}
{% load static %}
{% block title %}
    Giriş
{% endblock title %}
{% block head %}
{% endblock head %}
{% block body %}
    <div class="block my-auto d-flex justify-content-center align-items-center l-box p-4">
        <div class="w-75">
            <div class="my-3 d-flex justify-content-center">
                <svg version="1.1"
                     id="logo"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     x="0px"
                     y="0px"
                     height="5rem"
                     viewBox="0 0 912 622"
                     style="enable-background:new 0 0 912 622"
                     xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:#ECF7FD;}
                        .st1{fill:#148EE4;}
                    </style>
                    <g id="main-rect">
                    <path class="st0" d="M814.6,617H95.4C44.9,617,4,576.1,4,525.6V100.4C4,49.9,44.9,9,95.4,9h719.2c50.5,0,91.4,40.9,91.4,91.4v425.2 C906,576.1,865.1,617,814.6,617z" />
                    </g>
                    <g id="rect-1_00000166672575383538789350000018135465320677002930_">
                    <path class="st1" d="M215.6,564H114.4c-14,0-25.4-11.4-25.4-25.4V326.4c0-14,11.4-25.4,25.4-25.4h101.1c14,0,25.4,11.4,25.4,25.4 v212.1C241,552.6,229.6,564,215.6,564z" />
                    </g>
                    <g id="rect-2">
                    <path class="st1" d="M410.6,564H309.4c-14,0-25.4-11.4-25.4-25.4V195.4c0-14,11.4-25.4,25.4-25.4h101.1c14,0,25.4,11.4,25.4,25.4 v343.1C436,552.6,424.6,564,410.6,564z" />
                    </g>
                    <g id="rect-3">
                    <path class="st1" d="M599.6,564H498.4c-14,0-25.4-11.4-25.4-25.4V89.4c0-14,11.4-25.4,25.4-25.4h101.1c14,0,25.4,11.4,25.4,25.4 v449.1C625,552.6,613.6,564,599.6,564z" />
                    </g>
                    <g id="rect-4">
                    <path class="st1" d="M794.6,564H693.4c-14,0-25.4-11.4-25.4-25.4V236.4c0-14,11.4-25.4,25.4-25.4h101.1c14,0,25.4,11.4,25.4,25.4 v302.1C820,552.6,808.6,564,794.6,564z" />
                    </g>
                    <g id="b">
                    <path class="st0" d="M101.6,566.4V297h41.2v269.4H101.6z M126.2,566.4v-38.2h42.9c7,0,12.4-1.8,16.1-5.4c3.7-3.6,5.6-8.5,5.6-14.6 v-35.6c0-8.5-2.1-15.1-6.2-19.8c-4.1-4.7-9.7-7-16.9-7h-41.6v-38h41c6.5,0,11.5-2.1,15.1-6.4s5.3-10.3,5.3-18.2V355 c0-6.2-1.8-11-5.2-14.5c-3.5-3.5-8.4-5.3-14.8-5.3h-41.4V297h43.3c18.9,0,33.4,4.8,43.7,14.3c10.2,9.5,15.4,23,15.4,40.4v28.7 c0,12.6-3.3,22.9-9.7,30.9c-6.5,8-15.7,13.1-27.6,15.2c13,2,23.1,7.1,30.2,15.5c7.1,8.3,10.7,19.2,10.7,32.7v36.1 c0,17.5-5,31.2-15.1,40.9c-10.1,9.8-24.3,14.6-42.8,14.6H126.2z" />
                    </g>
                    <g id="a-1">
                    <path class="st0" d="M288,570.7l57.4-405h29.2l57.4,405h-37.7L360,276.9l-34.2,293.8H288z M325.9,494.9v-57.1h69.5v57.1H325.9z" />
                    </g>
                    <rect id="h-rect" x="469" y="289" class="st0" width="161" height="49" />
                    <g id="a-2">
                    <path class="st0" d="M675.6,567.9L733,199.3h29.2l57.4,368.6h-37.7l-34.2-267.5l-34.2,267.5H675.6z M713.5,499v-52H783v52H713.5z" />
                    </g>
                </svg>
            </div>
            <form method="post">
                {% csrf_token %}
                <div>
                    <div class="floating-label my-3">
                        <input class="floating-label__input inp usrnm"
                               type="text"
                               name="username"
                               autocomplete="off"
                               required
                               placeholder=" " />
                        <div class="floating-label__outline">
                            <div class="floating-label__leading"></div>
                            <div class="floating-label__notch">
                                <label class="floating-label__label" for="number">Ulanyjy ady</label>
                            </div>
                            <div class="floating-label__trailing"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="floating-label my-3">
                        <input class="floating-label__input inp pswd"
                               type="password"
                               name="password"
                               autocomplete="off"
                               required
                               placeholder=" " />
                        <div class="floating-label__outline">
                            <div class="floating-label__leading"></div>
                            <div class="floating-label__notch">
                                <label class="floating-label__label" for="email">Açar şöz</label>
                            </div>
                            <div class="floating-label__trailing"></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center w-100">
                    <button class="btn button w-50" type="submit" id="accept-btn" disabled>GIRIŞ</button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock scripts %}
