{% extends "layouts/main_layout.html" %}
{% load static %}
{% block title %}
    Taslamalar
{% endblock title %}
{% block body %}
    <div class="px-3">
        <div class="block p-3">
            <div class="m-2 d-flex justify-content-between">
                <div class='d-flex align-items-center'>
                    <div class="h3">Taslamalar</div>
                </div>
                <div class="d-flex align-items-center w-50">
                    <div class="w-100">
                        <div class="floating-label my-3 mx-5">
                            <select class="floating-label__input"
                                    type="text"
                                    id="direction"
                                    name="direction"
                                    autocomplete="off"
                                    required
                                    placeholder=" ">
                                <option value="all" {% if dir == "all" %}selected{% endif %}>Hemmesi</option>
                                {% for direction in directions %}
                                    <option value="{{ direction.pk }}"
                                            {% if dir == direction.pk %}selected{% endif %}>
                                        {{ direction.name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <div class="floating-label__outline">
                                <div class="floating-label__leading"></div>
                                <div class="floating-label__notch">
                                    <label class="floating-label__label" for="direction">Ugur</label>
                                </div>
                                <div class="floating-label__trailing"></div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <button onclick="location.href='{% if dir == "all" %}{% url 'export_to_xlsx' %}{% else %}/projects_list/by_direction/{{ dir }}/export_to_xlsx/{% endif %}'"
                                class="btn button">
                            <i class="bi bi-filetype-xlsx"></i>
                        </button>
                        <button onclick="location.href='{% if dir == "all" %}{% url 'export_to_docx' %}{% else %}/projects_list/by_direction/{{ dir }}/export_to_docx/{% endif %}'"
                                class="btn button">
                            <i class="bi bi-filetype-docx"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="m-3 fw-bolder" id="projects">
                {% for project in projects %}
                    <div class="my-3 my-card">
                        <div class="d-flex align-items-center">
                            <div style="margin-right: 1rem;">
                                <div class="d-flex justify-content-center align-items-center ico" style="">
                                    <i class="bi bi-box"></i>
                                </div>
                            </div>
                            <div class="w-100 d-flex justify-content-between">
                                <div>
                                    <div>
                                        <div>{{ project.description }}</div>
                                    </div>
                                    <div>{{ project.full_name_of_manager }}</div>
                                    <div class="mb-2">{{ project.agency }}</div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <button class="btn button mx-2"
                                            onclick='location.href="/project_result/{{ project.pk }}/"'>
                                        <i class="bi bi-eye"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script>
        function set_borders(node_list) {
            for (var i = 0; i < node_list.length; i++) {
                if (i != node_list.length - 1) {
                    node_list[i].classList.add("border-bottom");
                }
            }
        }
        let projects = document.querySelectorAll("#projects .my-card");
        set_borders(projects);
    </script>
    <script src="{% static 'js/projects_list.js' %}"></script>
{% endblock scripts %}
