{% extends "layouts/main_layout.html" %}
{% load static %}
{% block title %}
    Hasaby doldurmak
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/recharge.css' %}">
{% endblock head %}
{% block body %}
    <div class="px-3">
        <div class="block p-3">
            <div class="mx-2 my-4">Töleg maglumatlary</div>
            <div class="floating-label my-3">
                <input class="floating-label__input"
                       type="number"
                       id="count"
                       name="count"
                       autocomplete="off"
                       required
                       placeholder=" " />
                <div class="floating-label__outline">
                    <div class="floating-label__leading"></div>
                    <div class="floating-label__notch">
                        <label class="floating-label__label" for="count">Mukdar</label>
                    </div>
                    <div class="floating-label__trailing"></div>
                </div>
            </div>
            <div class="floating-label my-3">
                <input class="floating-label__input"
                       type="text"
                       id="card"
                       data="#dialog"
                       name="card"
                       autocomplete="off"
                       required
                       placeholder=" " />
                <div class="floating-label__outline">
                    <div class="floating-label__leading"></div>
                    <div class="floating-label__notch">
                        <label class="floating-label__label" for="count">Kart</label>
                    </div>
                    <div class="floating-label__trailing"></div>
                </div>
            </div>
            <div class="d-flex justify-content-center w-100">
                <button class="btn button w-50" id="accept-btn">JEMI TÖLEG: 0 TMT</button>
            </div>
        </div>
    </div>
    <div id="cards">
        <div id="dialog" class="window p-4">
            <h4 class="fw-bolder my-2 text-align-start">Kartyňyzy saýlan:</h4>
            {% for card in cards %}
                <button class="btn-none my-card"
                        onclick="select_card({{ forloop.counter0 }})"
                        data="{{ card.pk }}">
                    <div class="my-3 ">
                        <div class="d-flex align-items-center">
                            <div style="margin-right: 1rem;">
                                <div class="d-flex justify-content-center align-items-center ico" style="">
                                    <i class="bi bi-credit-card"></i>
                                </div>
                            </div>
                            <div class="w-100">
                                <div class="d-flex justify-content-between">
                                    <div>{{ card.holder }}</div>
                                    <div>{{ card.expiration_date }}</div>
                                </div>
                                <div class="text-align-start">
                                    <span class="fw-bolder dots">&#x2022;&#x2022;&#x2022;&#x2022; &#x2022;&#x2022;&#x2022;&#x2022; &#x2022;&#x2022;&#x2022;&#x2022;</span> <span>{{ card.number }}</span>
                                </div>
                                <div class="text-align-start">Altyn asyr kart (beýleki)</div>
                            </div>
                        </div>
                    </div>
                </button>
            {% endfor %}
            <div class="d-flex mt-3 mb-1 justify-content-end align-items-center">
                <a class="mx-4 txt-btn close" href="#">AÝYR</a>
                <a class="mx-4 txt-btn" href="{% url 'add_card' %}">TÄZE KART GOŞMAK</a>
            </div>
        </div>
        <div id="back"></div>
    </div>
{% endblock body %}
{% block scripts %}
    <script src="{% static 'js/recharge.js' %}"></script>
{% endblock scripts %}
