.table thead tr th {
    vertical-align: middle;
}

#back {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
}

.modal-window a {
    color: #000;
    text-decoration: none;
}

.modal-window .window {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 99999;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.modal-window .window {
    width: 75%;
    background-color: #ffffff;
}

.list {
    height: 60vh;
    overflow-y: auto;
}